body {
    background: rgb(139, 98, 68);
}

.wrap {
    background-color: rgb(250, 250, 250);
    max-width: 900px;
    border-radius: 0px;
    padding: 55px;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
    height: auto;
}

.TopHeader {
    height: auto;
}

.TopHeader.EdoLogo {
    float: left;
}

.EdoLogo {
    padding-left: 0px;
}

.Headline {
    height: 150px;
}

.firstS {
    height: 80px;
}

.FaktaInfo {
    float: right;
    width: 200px;
    padding-right: 48px;
}

.faktura {
    float: right;
    width: 200px;
    padding-right: 0px;
}


.secondS {
    overflow: hidden;
    height: auto;
}

.Referens {
    float: left;
    padding-left: 0px;
}

.InfoMa {
    float: right;
    padding-right: 51px;
   }

.blandadInfo {
    padding-left: 0px;
}   

.tabell {
    padding-top: 15px;
    padding-bottom: 225px;
  
}

.varudetalj {
    font-family: inherit;
    border-collapse: collapse;
    border: 1px solid black;
}

.varudetalj th {
    border: 1px solid black;
}

.varudetalj, th, td {
    padding: 6px;
}

th.á-pris {
    border-right: 0px;
}

th.textRight {
    border-left: 0px;
}

.textRight, td.std {
    text-align: right;
}

.textLeft.textLeft1 {
    text-align: left;
}

.border1 {
    border: 1px solid black;
    border-bottom: 0px;
}

.border2 {
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
}

.border3 {
    border: 1px solid black;
    border-top: 0px;
}

.textLeft1 {
    border: 1px solid black;
}

.borderA {
    border-top: 1px solid black;
}

.std {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.border4 {
    border: 1px solid black;
    border-right: 0px;
}

.border5 {
    border-top: 1px solid black;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    height: 1px;
    background: #333;
}  

.fT1 {
    float: left;
}

.fT2 {
    float: left;
}
.fT3 {
    float: left;
}
.fT4 {
    float: left;
}

.fT5 {
    float: left;
}

.bO {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.bO1 {
    border-right: 1px solid black;
}




